/* Empty. Add your own CSS if you like */
body        {
    background: url(../img/main_bg.png);
    background-attachment:fixed;
    background-position: center;
}

.pane, .menu, .view, .list, .item       {
    background: transparent;
}