/* Empty. Add your own CSS if you like */
/*
body        {
    background: url(../img/main_bg.png);
    background-attachment:fixed;
    background-position: center;
}

*/

ion-nav-view {
    
    background-color :#C8B6B6;
}

ion-content {
    
     background: url(../img/main_bg.png);
    background-attachment:fixed;
    background-position: center;
    
}