<ion-view title="Terms">
  
        <ion-pane>
      <ion-header-bar  align-title="center" class="bar-balanced">
         <h1 class="title">{{ "terms_nd_condi" | translate | uppercase }} </h1>
      </ion-header-bar>
      <ion-content>
          
<div class="card">
<div class="item item-text-wrap">
    
          <p> <i class="icon ion-record"></i> {{ "terms_1" | translate}}</p>
          <p> <i class="icon ion-record"></i> {{ "terms_2" | translate}}</p>
          <p> <i class="icon ion-record"></i> {{ "terms_3" | translate}}</p>
          <p> <i class="icon ion-record"></i> {{ "terms_4" | translate}}</p>
   
            
        <a class="button icon-right ion-chevron-right button-stable ">{{ "continue" | translate}}</a>
  </div>
</div>
          
          
          
          
          
          
          
      </ion-content>
    </ion-pane>
    
    
</ion-view>